<html>

<body>

  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="../static/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  </head>
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="{{'active' if id == 'home'}}"><a href="/">全部房源</a></li>
      <li class="{{'active' if id == 'LIC'}}"><a href="/lic">LIC房源</a></li>
      <li class="{{'active' if id == 'NJ'}}"><a href="/nj">NJ房源</a></li>
      <li class="{{'active' if id == 'statistics'}}">
        <a href="/statistics">房源信息统计</a>
      </li>
      <li class="{{'active' if id == 'sublease'}}"><a href="/sublease">转租</a></li>
      <li class="{{'active' if id == 'fetch_status'}}">
        <a href="/fetch-status">抓取记录</a>
      </li>
    </ul>
    {% block content %}{% endblock %}
  </div>
</body>

</html>