<html>

<body>

  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="../static/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  </head>
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="{{'active' if id == 'home'}}"><a href="/">全部房源</a></li>
      <li class="{{'active' if id == 'Manhattan'}}"><a href="/manhattan">Manhattan房源</a></li>
      <li class="{{'active' if id == 'LIC'}}"><a href="/lic">LIC房源</a></li>
      <li class="{{'active' if id == 'NJ'}}"><a href="/nj">NJ房源</a></li>
      <li class="{{'active' if id == 'NJ2'}}"><a href="/nj2">NJ二级房源</a></li>
      <li class="{{'active' if id == 'NPR'}}"><a href="/npr">NPR房源</a></li>
      <li class="{{'active' if id == 'TFCChelsea'}}"><a href="/tfc-chelsea">曼岛Chelsea房源</a></li>
      <li class="{{'active' if id == 'TFCOthers'}}"><a href="/tfc-others">TFC待分类房源</a></li>
      <li class="{{'active' if id == 'CU'}}"><a href="/cu">哥大房源</a></li>
      <li class="{{'active' if id == 'Elmhurst'}}"><a href="/elmhurst">Elmhurst房源</a></li>
      <li class="{{'active' if id == 'BK'}}"><a href="/bk">BK房源</a></li>
      <li class="{{'active' if id == 'BKLow'}}"><a href="/bklow">BK低价房源</a></li>
      <li class="{{'active' if id == 'statistics'}}">
        <a href="/statistics">房源信息统计</a>
      </li>
      <li class="{{'active' if id == 'sublease'}}"><a href="/sublease">转租</a></li>
      <li class="{{'active' if id == 'fetch_status'}}">
        <a href="/fetch-status">抓取记录</a>
      </li>
    </ul>
    {% block content %}{% endblock %}
  </div>
</body>

</html>