<html>

<body>

    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="../static/index.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="../static/index.js"></script>
        <script src='https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js'></script>
    </head>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="{{'active' if id == 'home'}}"><a href="/">全部房源</a></li>
            <li class="{{'active' if id == 'statistics'}}"><a href="/statistics">房源信息统计</a></li>
            <li class="{{'active' if id == 'fetch_status'}}"><a href="/fetch-status">抓取是否成功</a></li>
        </ul>
        {% block content %}{% endblock %}
    </div>
</body>

</html>