{% extends "base.html" %} {% block content %}
<div>
    <h1>{{ title }}</h1>
    <hr />
    <form>
        <div class="form-group">
            <label for="website-select">筛选网页</label>
            <select class="form-control" id="website-select" onchange="websiteSelected(this.value)">
                {% for name in group_by_website %}
                <option value="{{name}}">{{name}}</option>
                {% endfor %}
            </select>
        </div>
    </form>

    <center>
        <canvas id="chart" width="600" height="400"></canvas>
    </center>

    <script type="text/javascript">
        let selectedWeb;
        let chart = renderChart('');

        function websiteSelected(web) {
            selectedWeb = web;
            chart.destroy();
            chart = renderChart(web);
        }

        function renderChart(selectedWeb) {
            const datasets = [
                      {% for name, records in group_by_website.items() %}
                        {
                            label: "{{ name }}",
                            hidden: selectedWeb && selectedWeb !== "{{ name }}",
                            borderColor: randomColorGenerator(),
                            backgroundColor: '#FFFFFF',
                            data: [
                                {% for record in records %}
                                    {
                                        "x": "{{ record.x }}",
                                        "y": {{ record.y }},
                                    },
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                  ]
        const ctx = document.getElementById("chart").getContext("2d");
        console.log("datasets", datasets);
        return new Chart(ctx, {
            type: 'line',
            data: {
                datasets: datasets,
            },
            options: {
                plugins: {
                    title: {
                        text: '房间数量',
                        display: true,
                        font: {
                            size: 24
                        }
                    }
                },
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            displayFormats: {
                                hour: 'yyyy-MM-dd HH:mm'
                            },
                            parser: "yyyy-MM-dd HH:mm:ss",
                        }
                    },
                }
            }
        });
        }

        function randomColorGenerator() {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };

    </script>
</div>
{% endblock %}