{% extends "base.html" %} {% block content %}
<div>
    <h1>{{ title }}</h1>
    <hr />
    <form>
        <div class="form-group">
            <label for="website-select">筛选网页</label>
            <select class="form-control" id="website-select" onchange="websiteSelected(this.value)">
                {% for name in group_by_website %}
                <option value="{{name}}">{{name}}</option>
                {% endfor %}
            </select>
        </div>
    </form>

    <center>
        <canvas id="room_count" width="600" height="400"></canvas>
        <canvas id="fetch_status_bool" width="600" height="400"></canvas>
    </center>

    <script type="text/javascript">
        let selectedWeb;
        let roomCountChart = renderRoomCountChart('');
        let fetchStatusChart = renderFetchStatusChart('');

        function websiteSelected(web) {
            selectedWeb = web;
            roomCountChart.destroy();
            roomCountChart = renderRoomCountChart(web);
            fetchStatusChart.destroy();
            fetchStatusChart = renderFetchStatusChart(web);
        }

        function renderRoomCountChart(selectedWeb) {
            const datasets = [
                      {% for name, records in group_by_website.items() %}
                        {
                            label: "{{ name }}",
                            hidden: selectedWeb && selectedWeb !== "{{ name }}",
                            borderColor: randomColorGenerator("{{ name }}"),
                            backgroundColor: randomColorGenerator("{{ name }}"),
                            data: [
                                {% for record in records %}
                                    {
                                        "x": "{{ record.x }}",
                                        "y": {{ record.y }},
                                    },
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                  ]
            const ctx = document.getElementById("room_count").getContext("2d");
            return new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: datasets,
                },
                options: {
                    plugins: {
                        title: {
                            text: '房间数量',
                            display: true,
                            font: {
                                size: 24
                            }
                        }
                    },
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                displayFormats: {
                                    hour: 'yyyy-MM-dd HH:mm'
                                },
                                parser: "yyyy-MM-dd HH:mm:ss",
                            }
                        },
                    }
                }
            });
        }

        function renderFetchStatusChart(selectedWeb) {
            const datasets = [
                      {% for name, records in fetch_status_bool.items() %}
                        {
                            label: "{{ name }}",
                            hidden: selectedWeb && selectedWeb !== "{{ name }}",
                            borderColor: randomColorGenerator("{{ name }}"),
                            backgroundColor: randomColorGenerator("{{ name }}"),
                            data: [
                                {% for record in records %}
                                    {
                                        "x": "{{ record.x }}",
                                        "y": {{ record.y }},
                                    },
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                  ]
            const ctx = document.getElementById("fetch_status_bool").getContext("2d");
            return new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: datasets,
                },
                options: {
                    plugins: {
                        title: {
                            text: '抓取失败记录',
                            display: true,
                            font: {
                                size: 24
                            }
                        }
                    },
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                displayFormats: {
                                    hour: 'yyyy-MM-dd HH:mm'
                                },
                                parser: "yyyy-MM-dd HH:mm:ss",
                            }
                        },
                    }
                }
            });
        }

        function randomColorGenerator(str) {
            var hash = 0;
            for (var i = 0; i < str.length; i++) {
                hash = str.charCodeAt(i) + ((hash << 5) - hash);
            }
            var colour = '#';
            for (var i = 0; i < 3; i++) {
                var value = (hash >> (i * 8)) & 0xFF;
                colour += ('00' + value.toString(16)).substr(-2);
            }
            return colour;
        }

    </script>
</div>
{% endblock %}