mysqlclient==2.1.0
flask==2.1.2
selenium==4.2.0
pytz==2022.1
webdriver-manager==3.8.3
beautifulsoup4==4.11.1
playwright==1.28.0
sshtunnel==0.4.0
openpyxl==3.0.10
fake-useragent==1.1.1
chromedriver-autoinstaller==0.6.2
chompjs==1.2.3